* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #121212;
  height: 100vh;
}

a {
  color: slategrey;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  line-height: normal;
  margin: auto 0;
  letter-spacing: 0.035em;
}

a h1 {
  color: limegreen;
  margin: auto;
  line-height: normal;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  margin: 0;
  font-family: 'Courier New';
  background-color: #121212;
  color: limegreen;
  letter-spacing: 0.03em;
  height: 100%;
  padding: 0 20px;
}

#header {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: column;
  align-content: center;
  min-height: 130px;
  max-height: 200px;
}


.header-center {
  display: grid;
  text-align: center;
  margin:auto;
}

.top {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-content: center;
}


#content-container {
  display: grid;
  align-content: flex-start;
  width: 100%;
  max-height: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

#content {
  display: grid;
  align-content: flex-start;
  width: 100%;
  max-width: 1500px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.04em;
  min-height: 100%;
  margin: 0 auto;
}

#content-cols {
  display: grid;
  align-content: flex-start;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  height: auto;
  padding: 0 20px;
}

#form-container {
  display: grid;
  align-content: flex-start;
  min-width: 300px;
  padding-left: 25px;
}

#output-container {
  display: grid;
  align-content: flex-start;
  border: 3px solid limegreen;
  padding: 10px 30px;
  height: auto;
  font-size: 18px;
  line-height: 30px;
margin-right: 25px;
}


#footer {
  display: grid;
  align-content: flex-end;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 15px;
  max-height: 150px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  font-family: 'Courier New';
  font-size: 18px;
  line-height: 30px;
  background-color: #121212;
  color: limegreen;
  border: none;
  border: 2px solid limegreen;
  font-weight: normal;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 20px;
  padding-left: 5px;
}

input[type=submit] {
  font-family: 'Courier New';
  font-size: 18px;
  line-height: 30px;
  background-color: #121212;
  color: limegreen;
  border: none;
  border: 2px solid limegreen;
  font-weight: normal;
  letter-spacing: 0.01em;
  margin-top: 15px;
}
