{% extends "layout.html" %}
{% block content %}
<div id="content-cols">
  <div id="form-container">
    <div>
      <label for="start_string">Start text:</label>
      <input id="start_string" name="start_string" required="" type="text" value="SCULLY: Mulder, ">

      <label for="temperature">Prediction temperature:</label>
      <input id="temperature" name="temperature" required="" type="text" value="0.6">

      <label for="char_length">Character length:</label>
      <input id="char_length" name="char_length" required="" type="text" value="700">

      <button id="submit-button" onclick="generate()">GENERATE</button>
    </div>
  </div>
  <div id="output-container">
    <pre id="output" style="overflow-wrap: break-word; white-space: pre-wrap; font-weight: 300; font-family: 'Courier New'; font-size: 18px;"></pre>
  </div>
</div>
{% endblock %}
{% block script %}
  {{ super() }}
{% endblock %}
