<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>X-Files Generator</title>
  </head>
  <body>
    <div id="app">
      <div id="header">
        <div class="top">
      <!--  {% block links %}
          {% for link in links %}
          <span><a href="/{{ link }}">{{ link }}</a></span>
          {% endfor %}
        {% endblock %} -->
        </div>
        <div class="header-center">
          <a href="/">
            <h1>X-FILES GENERATOR</h1>
          </a>
        </div>
        <div></div>
      </div>
      <div id="content-container">
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div id="footer">
        &copy; Susie Ward 2021
      </div>
    </div>
  </body>
  {% block script %}
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  {% endblock %}
</html>
